{% extends './home.html' %}
{% load static %}

{% block title %}
	<title>Movies</title>
{% endblock title %}
	
{% block content %}

<div class="buster-light">
	<div class="hero common-hero">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="hero-ct">
						<h1>All Movies</h1>
						<ul class="breadcumb">
							<li class="active"><a href="#">Home</a></li>
							<li> <span class="ion-ios-arrow-right"></span>all movies</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="page-single">
		<div class="container">
			<div class="row ipad-width">
				<div class="col-md-8 col-sm-12 col-xs-12">
					<div class="topbar-filter">
						<p>Found <span>1,608 movies</span> in total</p>
						<label>Sort by:</label>
						<select>
							<option value="popularity">Popularity Descending</option>
							<option value="popularity">Popularity Ascending</option>
							<option value="rating">Rating Descending</option>
							<option value="rating">Rating Ascending</option>
							<option value="date">Release date Descending</option>
							<option value="date">Release date Ascending</option>
						</select>
						<a href="#" class="list"><i class="ion-ios-list-outline "></i></a>
						<a href="#" class="grid"><i class="ion-grid active"></i></a>
					</div>
					<div class="flex-wrap-movielist">
						
						{% for movie in object_list %}
						<div class="movie-item-style-2 movie-item-style-1">
							<a href="{{ movie.get_absolute_url }}"><img src="{{ movie.image.url }}" alt=""></a>
							<div class="hvr-inner">
								<a href="{{ movie.get_absolute_url }}"> Read more <i class="ion-android-arrow-dropright"></i> </a>
							</div>
							<div class="mv-item-infor">
								<h6><a href="{{ movie.get_absolute_url }}">{{ movie.title }}</a></h6>
								<p class="rate"><i class="ion-android-star"></i><span>{{ movie.rating }}</span> /10</p>
								<P><span>Views: {{ movie.views }}</span></P>
							</div>
						</div>
						{% endfor %}
						
					</div>
					<div class="topbar-filter">
						<label>Movies per page:</label>
						<select>
							<option value="range">20 Movies</option>
							<option value="saab">10 Movies</option>
						</select>

						
						{% if is_paginated %}
							<div class="pagination2">
								<span>{{page_obj}}:</span>
								
								{% if page_obj.has_previous %}
									<a href="?page={{ page_obj.previous_page_number }}"><i class="ion-arrow-left-b"></i></a>
								{% endif %}
									
								<a href="?page={{ page_obj.number }}">{{ page_obj.number }}</a>
					
								{% if page_obj.has_next %}
									<a href="?page={{ page_obj.next_page_number }}"><i class="ion-arrow-right-b"></i></a>
								{% endif %}
									
							</div>
						{% endif %}
							
					</div>
				</div>
				<div class="col-md-4 col-sm-12 col-xs-12">
					<div class="sidebar">
						<div class="searh-form">
							<h3 class="sb-title">Search for movie</h3>
							<form class="form-style-1" method="GET" action="{% url "movie-search" %}">
								<div class="row">
									<div class="col-md-12 form-it">
										<label>Movie name</label>
										<input style="color: black;" name="query" type="text" placeholder="Enter keywords">
									</div>
									<div class="col-md-12 form-it">
										<label>Genres & Subgenres</label>
										<div class="group-ip">
											<select name="skills" multiple="" class="ui fluid dropdown">
												<option value="">Enter to filter genres</option>
												
												{% for categor in object_list %}
													<option value="Action1">{{ categor.category }}</option>
												{% endfor %}
								
											</select>
										</div>
									</div>
									<div class="col-md-12 form-it">
										<label>Rating Range</label>
										<select>
											<option value="range">-- Select the rating range below --</option>
											<option value="saab">-- Select the rating range below --</option>
										</select>
									</div>
									<div class="col-md-12 form-it">
										<label>Release Year</label>
										<div class="row">
											<div class="col-md-6">
												<select>
													<option value="range">From</option>
													<option value="number">10</option>
												</select>
											</div>
											<div class="col-md-6">
												<select>
													<option value="range">To</option>
													<option value="number">20</option>
												</select>
											</div>
										</div>
									</div>
									<div class="col-md-12 ">
										<input class="submit" type="submit" value="submit">
									</div>
								</div>
							</form>
						</div>
						<div class="ads">
							<img src={% static "images/uploads/ads1.png" %} alt="">
						</div>
						<div class="sb-facebook sb-it">
							<h4 class="sb-title">Find us on Facebook</h4>
							<iframe src="#"
								data-src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Ftemplatespoint.net%2F%3Ffref%3Dts&tabs=timeline&width=340&height=315px&small_header=true&adapt_container_width=false&hide_cover=false&show_facepile=true&appId"
								height="315" style="width:100%;border:none;overflow:hidden"></iframe>
						</div>
						<div class="sb-twitter sb-it">
							<h4 class="sb-title">Tweet to us</h4>
							<div class="slick-tw">
								<div class="tweet item" id="">
									<!-- Put your twiter id here -->
								</div>
								<div class="tweet item" id="">
									<!-- Put your 2nd twiter account id here -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock content %}
    